global
    debug

defaults
    log global
    mode http
    timeout connect 5000
    timeout client 5000
    timeout server 5000

frontend main
    bind *:80
    default_backend app

backend app
    balance roundrobin
    mode http
    server srv1 web1:80
    server srv2 web2:80

listen stats
    bind *:3000
    mode            http
    log             global

    maxconn 10
    clitimeout      100s
    srvtimeout      100s
    contimeout      100s
    timeout queue   100s

    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats auth admin:password
    stats uri  /haproxy?stats